//color
@main-color: rgb(104, 183, 56);
@background-second-color: rgb(242, 242, 242);

//fonts
@main-font: "Oswald", sans-serif;
@second-font: "Arial", sans-serif;

//color fonts
@title-color-font: rgb(17, 17, 17);
@normal-color-font: rgb(68, 68, 68);

// layout width
// @mobile-width: ~"(min-width: 320px) and (max-width: 767px)";
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1300px)";

// <picture>
//   <source media="(min-width: 1300px)" srcset="img/photo-1-desktop.jpg">
//   <source media="(min-width: 768px)" srcset="img/photo-1-tablet.jpg">
//   <img src="img/photo-1-mobile.jpg" alt="Пример">
// </picture>

// @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
//
// }
