.additional-goods {
  @media @desktop-width {
    margin-bottom: 86px;
  }
}

.additional-goods__wrap {
  @media @tablet-width {
    .container-tablet();
  }

  @media @desktop-width {
    .container-desktop();
    display: flex;
    justify-content: space-between;
  }
}

.additional-goods__title {
  width: 100%;
  position: relative;
  font-family: @main-font;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  font-weight: 400;
  color: @title-color-font;
  overflow: hidden;
  margin-bottom: 34px;
  margin-top: 28px;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 50%;
    height: 3px;
    top: 0.7em;
    right: 0;
    background-color: @main-color;
    z-index: -1;
  }

  @media @tablet-width {
    font-size: 36px;
    line-height: 50px;
    margin: 0 0 17px;
    padding: 0;

    &::after {
      width: 100%;
    }
  }

  @media @desktop-width {
    font-size: 36px;
    line-height: 36px;
    margin: 20px 0 80px;
    padding: 0;
  }
}

.additional-goods__title-wrap {
  .container-mobile();
  display: block;

  @media @tablet-width {
    .container-tablet();
  }

  @media @desktop-width {
    .container-desktop();
    padding-left: 70px;
  }
}

.additional-goods__title-text {
  position: relative;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding-right: 25px;

  @media @tablet-width {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.additional-goods__list {
  .container-mobile();
  list-style: none;

  @media @tablet-width {
    width: auto;
    padding: 60px 0 29px;
  }

  @media @desktop-width {
    width: 895px;
    padding: 0;
    margin: 0;
  }
}
