.additional-goods {
  @media @tablet-width {
    //
  }
  @media @desktop-width {
    //
  }
}

.additional-goods__title {
    .container-mobile();
    font-family: @main-font;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    color: @title-color-font;
    padding-top: 30px;
    padding-bottom: 30px;

  @media @tablet-width {
    .container-tablet();
    font-size: 36px;
    line-height: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media @desktop-width {
    //
  }
}

.additional-goods__list {
    .container-mobile();
    list-style: none;
  @media @tablet-width {
    .container-tablet();
    margin: 0;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media @desktop-width {
    //
  }
}

.additional-goods__item {
  @media @tablet-width {
    //
  }
  @media @desktop-width {
    //
  }
}
