.advantages {
  padding-bottom: 22px;

  @media @tablet-width {
    padding-bottom: 0;
    padding-top: 16px;
  }

  @media @desktop-width {
    //
  }
}

.advantages__title {
  .container-mobile();
  font-family: @main-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: @title-color-font;
  margin-top: 0;
  margin-bottom: 24px;

  @media @tablet-width {
    .container-tablet();
    font-size: 60px;
    margin-bottom: 41px;
  }

  @media @desktop-width {
    .container-desktop();
    margin-bottom: 40px;
  }
}

.advantages__list {
  .container-mobile();
  list-style: none;

  @media @tablet-width {
    .container-tablet();
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-reset: number;
  }

  @media @desktop-width {
    .container-desktop();
    justify-content: flex-start;
  }
}

.advantages__item {
  position: relative;
  box-sizing: border-box;
  min-height: 60px;
  font-family: @second-font;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: @normal-color-font;
  padding-left: 80px;
  padding-bottom: 6px;
  margin-bottom: 20px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: @main-color;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px;
  }

  &--leaf {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  &--powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &--dining {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");
    }
  }

  &--clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");
    }
  }

  @media @tablet-width {
    width: 244px;
    min-height: 281px;
    padding-top: 143px;
    padding-left: 0;
    margin-right: 80px;
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 24px;

    &::before {
      top: 31px;
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      top: -8px;
      left: 119px;
      font-family: @main-font;
      font-size: 281px;
      line-height: 281px;
      font-weight: 400;
      color: @background-second-color;
      z-index: -1;
      counter-increment: number;
      content: counter(number);
    }
  }

  @media @desktop-width {
    margin-bottom: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}
