.catalog {
  @media @tablet-width {
    .container-tablet();
    margin-bottom: 58px;
  }

  @media @desktop-width {
    .container-desktop();
    margin-bottom: 0;
  }
}

.catalog__title {
  .container-mobile();
  font-family: @main-font;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  font-weight: 400;
  color: @title-color-font;
  padding-top: 30px;
  padding-bottom: 35px;

  @media @tablet-width {
    width: auto;
    font-size: 60px;
    padding-top: 65px;
    padding-bottom: 70px;
    padding-left: 0;
    padding-right: 0;
  }

  @media @desktop-width {
    margin: 0;
    padding-bottom: 75px;
    padding-top: 80px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media @tablet-width {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: -60px;
  }

  @media @desktop-width {
    margin-left: -80px;
  }
}

.catalog__item {
  @media @tablet-width {
    margin-left: 60px;
  }

  @media @desktop-width {
    margin-left: 80px;
    margin-bottom: 60px;
  }
}
