.footer-logo {
  .container-mobile();
  padding-top: 27px;
  padding-bottom: 29px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media @tablet-width {
    border: none;
    width: auto;
    padding: 0;
    margin: 0;
  }
}

.footer-logo__img {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}
