.intro {
  position: relative;
  margin-bottom: 22px;
  padding-top: 30px;

  @media @tablet-width {
    padding-top: 61px;
  }

  @media @desktop-width {
    min-height: 550px;

    margin-bottom: 80px;
    padding-top: 113px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 306px;
    background-color: rgb(99, 167, 58);
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    z-index: -1;

    @media @tablet-width {
      display: none;
    }
  }
}

.intro__wrap {
  .container-mobile();

  @media @tablet-width {
    .container-tablet();
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-right: 120px;
    position: relative;
  }

  @media @desktop-width {
    .container-desktop();
    display: block;
    padding-left: 193px;
    padding-right: 193px;
  }
}

.intro__img {
  display: block;
  margin: 30px auto 0;

  @media @tablet-width {
    order: 4;
    width: 709px;
    height: 609px;
    margin-top: -80px;
  }

  @media @desktop-width {
    position: absolute;
    top: 0;
    right: 320px;
    width: 552px;
    height: 499px;
    z-index: -1;
  }
}

.intro__title {
  font-family: @main-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  margin-top: 0;

  @media @tablet-width {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: @title-color-font;
    margin-bottom: 33px;
  }
}

.intro__text {
  font-family: @main-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;

  @media @tablet-width {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: rgb(17, 17, 17);
    margin-bottom: 45px;
  }

  @media @desktop-width {
    margin-bottom: 50px;
  }
}

.intro__link {
  .btn();
  width: 100%;
  padding: 14px 15px 11px;
  font-family: @main-font;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: rgb(255, 255, 255);

  @media @tablet-width {
    width: auto;
    align-self: flex-start;
    font-size: 20px;
    line-height: 20px;
    padding: 15px 29px 15px 26px;
    z-index: 1;
  }
}
