.main-header {
  @media @desktop-width {
    .container-desktop();
    position: relative;

    &--bg {
      &::after {
        position: absolute;
        content: "";
        width: 720px;
        height: 696px;
        top: 0;
        right: 0;
        background-color: @main-color;
        background-image: url("../img/index-background-desktop@1x.jpg");
        background-repeat: no-repeat;
        background-size: 720px 696px;
        z-index: -1;

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background-image: url("../img/index-background-desktop@2x.jpg");
        }
      }
    }
  }
}
