.main-footer {
  background-color: @background-second-color;

  @media @tablet-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 58px;
  }

  @media @desktop-width {
  //
  }
}
