.main-navigation {
  //
}

.main-navigation__logo-link {
  //
}

.main-navigation__logo {
  //
}

.main-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-navigation__item {
  //
}

.main-navigation__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: @main-font;
  color: @title-color-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.main-navigation__toggle {
  //
}
