.map {
  @media @tablet-width {
    //
  }

  @media @desktop-width {
    position: relative;
  }
}

.map__iframe {
  height: 370px;
  background-color: lightyellow; //!!!

  @media @tablet-width {
    height: 400px;
  }
}
