.product {
  .container-mobile();
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -1px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.product__img-link {}

.product__img {}

.product__description-wrap {}

.product__title-link {
  text-decoration: none;
}

.product__title {
  font-family: @main-font;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: rgb(17, 17, 17);
  text-transform: uppercase;
  font-weight: 400;
}

.product__feature-table {}

.product__properties {
  font-family: @second-font;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: @normal-color-font;
}

.product__value {
  font-family: @second-font;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: @normal-color-font;
}

.product__link {
  .btn();
  font-family: @main-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}
