.product-download {
  .container-mobile();
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product-download__title {
  display: block;
  font-family: @main-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: @title-color-font;
  margin-top: 25px;
  margin-bottom: 10px;
}

.product-download__text {
  font-family: @second-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @normal-color-font;
}

.product-download__btn {
  .btn();
  font-family: @main-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @normal-color-font;
  margin-top: 20px;
  background-color: @background-second-color;
}
