.slider {
  text-align: center;

  @media @tablet-width {
    margin-top: 45px;
    padding-bottom: 40px;
    background-image: linear-gradient(rgb(255, 255, 255) 170px, @background-second-color 170px);
  }

  @media @desktop-width {
    width: 650px;
    margin-top: 0;
    background-color: inherit;
    padding-bottom: 0;
    background-image: none;
  }
}

.slider__wrap {
  @media @tablet-width {
    .container-tablet();
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media @desktop-width {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.slider__img-wrap {
  @media @tablet-width {
    height: 520px;
    width: 690px;
    position: relative;
  }

  @media @desktop-width {
    margin-top: 0;
  }
}

.slider__img {
  width: 311px;
  height: 232px;

  @media @tablet-width {
    position: absolute;
    display: block;
    width: 690px;
    height: 517px;
    left: 8px;
  }

  @media @desktop-width {
    max-width: none;
    left: 20px;
  }
}

.slider__img-before {
  @media @tablet-width {
    clip: rect(auto, 337px, auto, 0);
  }

  @media @desktop-width {
    clip: rect(auto, 365px, auto, 0);
  }
}

.slider__img-after {
  display: none;

  @media @tablet-width {
    display: block;
    clip: rect(auto, auto, auto, 337px);
  }

  @media @desktop-width {
    clip: rect(auto, auto, auto, 365px);
  }
}

.slider__control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 30px;

  @media @tablet-width {
    width: 575px;
    padding-top: 15px;
  }

  @media @desktop-width {
    align-self: flex-end;
    padding-top: 38px;
  }
}

.slider__btn {
  font-family: @main-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @title-color-font;
  border: none;
  background-color: inherit;
  cursor: pointer;

  @media @tablet-width {
    font-size: 20px;
    border-bottom: 1px dotted rgb(205, 205, 205);
    padding-bottom: 5px;

    &:hover {
      border-bottom: 1px solid rgb(205, 205, 205);
    }

    &:active {
      border-bottom: none;
    }
  }
}

.slider__range {
  display: flex;
  align-items: center;
  width: 84px;
  height: 14px;
  box-sizing: border-box;
  border-radius: 6px;
  border: solid 1px rgb(205, 205, 205);
  background-color: rgb(255, 255, 255);
  margin-left: 18px;
  margin-right: 18px;
  padding: 4px;

  @media @tablet-width {
    display: flex;
    align-items: baseline;
    width: 100%;
    height: 6px;
    border-radius: 2.5px;
    background-color: rgb(220, 220, 220);
    margin-left: 24px;
    margin-right: 24px;
  }
}

.slider__range div {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: rgb(104, 183, 56);

  @media @tablet-width {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgb(205, 205, 205);
    border: solid 13px rgb(255, 255, 255);
    position: relative;
    top: -15px;
    left: 183px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25), 0 0 0 1px rgb(205, 205, 205);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 2px rgb(104, 183, 56);
    }
  }
}
