.social {
  @media @mobile-width {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  @media @tablet-width {
    //
  }

  @media @desktop-width {
    //
  }
}

.social__list {
  @media @mobile-width {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @media @tablet-width {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @media @desktop-width {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.social__item {
  @media @mobile-width {
    //
  }

  @media @tablet-width {
    //
  }

  @media @desktop-width {
    //
  }
}

.social__link {
  @media @mobile-width {
    //
  }

  @media @tablet-width {
    //
  }

  @media @desktop-width {
    //
  }
}
