.social {
  padding-top: 22px;
  padding-bottom: 22px;

  @media @tablet-width {
    //
  }

  @media @desktop-width {
    //
  }
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  @media @tablet-width {
    //
  }

  @media @desktop-width {
    //
  }
}

.social__link {
  @media @tablet-width {
    //
  }

  @media @desktop-width {
    //
  }
}
